<div class="content">
  <div class="left-section">
  <div class="header">
    <strong>Accounts</strong>

    <div class="actions">
        <button (click)="addAccount()">Add Account</button>
        <button>Refresh</button>
    </div>
    </div>
    <app-list [accounts]="accounts" (rowSelected)="onRowSelection($event)"></app-list>
  </div>
  <div class="right-section">
      <app-chart [width]="300" [height]="300" [data]="accounts" [valProp]="'cash'" [colorProp]="'legend'" [selectedIndex]= "selectedAccountIndex"></app-chart>
      <div class="help-label">Click on an account to view positions</div>
  </div>
</div>