<table class="table table-striped table-fixed"> <thead> 
  <tr>
    <th class="col-xs-3">Name</th>
    <th class="col-xs-3">Market Value </th>
    <th class="col-xs-3">Cash</th>
    <th class="col-xs-3">Legend</th>
  </tr> 

  <tbody>
    <tr  *ngFor="let acc of accounts; let i = index"
      (click)="onSelected(i)"
    >
      <td class="col-xs-3">{{acc.name}}</td>
      <td class="col-xs-3">{{acc.marketValue}}</td>
      <td class="col-xs-3">{{acc.cash}}</td>
      <td class="col-xs-3">
        <span class="legend" [ngStyle]="{backgroundColor: acc.legend}">1</span>
      </td>
    </tr>
  </tbody>
</table>
